<h1>Approved Requests</h1>
<div class="table-section">
  <div class="card">Approved Requests</div>
  <table class="orders-table">
    {% for req in data %}
  <p>{{ req.item_name }} - {{ req.quantity }} - {{ req.date_requested }}</p>
{% endfor %}
<a href="{% url 'approved_requests' %}" class="card-link">Approved Requests</a>
    <thead>
      <tr>
        <th>Request ID</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Requested By</th>
        <th>Date Approved</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#AR201</td>
        <td>Passport Film</td>
        <td>400</td>
        <td>Felista</td>
        <td>2025-06-18</td>
      </tr>
      <tr>
        <td>#AR202</td>
        <td>Security Thread</td>
        <td>200</td>
        <td>Stephanie</td>
        <td>2025-06-20</td>
      </tr>
    </tbody>
  </table>
</div>
